@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
/* Header Cards */
.cards {
    box-sizing: border-box;
    width: 250px;
    padding: 15px;
    margin-right: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    height: 101px;
    margin-top: 10px;
}
.Dashboard-Container {
    margin-left: 10px;
}
.Cards-Container {
    display: flex;

}
.Image-Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-detail {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
}
.purple-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DCC0EC;
}
.number-container {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.6);
}
.symbol-image {
    margin-top: -13px;
    margin-left: 11px;
}
.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3E876;
}
.sidearrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9ED2C0;
}
.blue-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9990;
}
/* Companies Onboarded div */
.Amazon {
    margin-left: 19px;
}
.image-text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Company-Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.imge {
    border-radius: 4px;
}
.sidearrow-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}
.onboarding-date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000080;
}
/* Applied Candidates List */
.applied {
    box-sizing: border-box;
    padding: 15px;
    width: 383px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.Profile-Name{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-left: 15px;
    color: #000000;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.Details{
    display: flex;
}
.Post {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.5);
}
span {
    color: black !important;
}
.main-container {
    display: flex;
    margin-top: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.left-container {
    margin-right: -70px;
    margin-left: -55px;

}
.Candidate-Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-container {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 634px;
    padding: 15px;
}
.content-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Table */
.table-details {
    box-sizing: border-box;
    margin-top: 24px;
    height: 337px;
    width: 1036px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.table-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.RecentlyPostedJobs {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.buttons {
    padding: 7px;
    color: #66D7D1;
    background: #E6FFFE;
    border-radius: 4px;
    width: 117px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.Table-Paragraph {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.Table-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.Table-image{
    margin-left: 6px;
    margin-top: 2px;
}
.table-container{
    margin-left: 109px;
}
/* Responsive Properties */
@media screen and (max-width:912px) {
    .Dashboard-Container {
        overflow: scroll;
        align-items: center;

    }

    .table-details {
        width: 95vw;
        overflow: scroll;
    }

    .table-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-container {
        width: 95vw;
    }
    .applied {
        width: 95vw;
        margin-top: 20px;

    }
    .right-container {
        display: flex;
    }
    .cards {
        margin-right: 10px;
        width: 228px;
    }
}
@media screen and (min-width:913px) and (max-width:1024px) {
    .content-container {
        width: 525px;
    }
}
@media screen and (min-width:1280px) {
    .Cards-Container {
        max-width: 1240px;
        margin: auto;
    }
}